<p-sidebar (close)="toggleSidebarMethod()" [(visible)]="sidbarVisible" (cancel)="toggleSidebarMethod()"
           styleClass="w-30rem"
           [modal]="false"

>
  <ng-template pTemplate="header">
    <div class="sidebar-footer">
      <img src="assets/logo.png" alt="Your Logo" class="sidebar-logo">
    </div>
  </ng-template>

  <!--  (sidebarVisible$ | async) ?? false-->
  <p-tabMenu [model]="tabsItems" [(activeItem)]="activeTab" [scrollable]="true"></p-tabMenu>

  <div *ngIf="activeTab?.id === states.SearchOffice" style="padding-top: 10px">

    <p-card>
      <ng-template pTemplate="header">
        <h3>Ищем отделения</h3>
      </ng-template>
      <div class="p-col-12 p-md-6">
        <div class="p-field-checkbox">
          <p-inputSwitch [(ngModel)]="searchFilters.rko"></p-inputSwitch>
          <label for="rko">РКО</label>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <div class="p-field">
          <label for="officeType" style="width: 120px">Тип офиса</label>
          <p-dropdown [(ngModel)]="searchFilters.officeType" [options]="officeTypes"></p-dropdown>
        </div>
      </div>

      <!-- SUO Availability -->
      <div class="p-col-12 p-md-6">
        <div class="p-field-checkbox">
          <p-inputSwitch [(ngModel)]="searchFilters.suoAvailability"></p-inputSwitch>
          <label for="suoAvailability">СУО</label>
        </div>
      </div>

      <!-- Has Ramp -->
      <div class="p-col-12 p-md-6">
        <div class="p-field-checkbox">
          <p-inputSwitch [(ngModel)]="searchFilters.hasRamp"></p-inputSwitch>
          <label for="hasRamp">Рампа</label>
        </div>
      </div>

      <div class="p-col-12" style="margin-top: 10px">
        <div class="p-field">
          <label for="loadType" style="width: 140px">Ваш адрес</label>
          <p-autoComplete [(ngModel)]="searchFilters.address" [suggestions]="suggestions" field="name" (completeMethod)="search($event)" placeholder="Введите адрес" [dropdown]="true">
            <ng-template let-address pTemplate="item">
              {{address.name}} ({{address.coordinates}})
            </ng-template>
          </p-autoComplete>

        </div>
      </div>



      <div class="p-col-12" style="margin-top: 10px">
        <div class="p-field">
          <label for="loadType" style="width: 120px">Расстояние поиска, км</label>
          <p-inputNumber [(ngModel)]="searchFilters.kilometers" [showButtons]="true" buttonLayout="horizontal"
                         spinnerMode="horizontal"
                         decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                         incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal"
                         [min]="0"
          >

          </p-inputNumber>

        </div>
      </div>



      <ng-template pTemplate="footer">
        <div style="display: flex; justify-content: center; padding-top: 20px">
          <button pButton type="button" label="Поиск!" (click)="startQueryRoute()"></button>
        </div>
      </ng-template>
    </p-card>


    <p-card
      [style]="{  height: '100%' }"
    >
      <ng-template pTemplate="header">
        <h3>Таблицы</h3>
      </ng-template>

    </p-card>

    <!-- Ваш контент для Frame 1 здесь -->
  </div>

  <p-card>
    <div *ngIf="activeTab?.id === states.B">
      <!-- Chat container -->
      <div class="chat-container p-shadow-2">
        <!-- Messages container -->
        <div class="messages-container">
          <!-- Sample message from the bot -->
          <div class="message bot-message">
            <div class="bot-icon p-mr-2">
              🤖 <!-- You can replace this with an actual icon or avatar -->
            </div>
            <div class="message-content">Здравствуйте! Я ИИ чат-помощник банка ВТБ. Как я могу вам помочь с поиском отделения или банкомата?</div>
          </div>

          <!-- Sample message from the user -->
          <div class="message user-message">
            <div class="message-content p-mr-2">Я ищу ближайший банкомат.</div>
            <div class="user-icon">
              👤 <!-- You can replace this with an actual icon or avatar -->
            </div>
          </div>
        </div>

        <!-- Input for the user to type -->
        <div class="input-container">


          <textarea rows="5" cols="47" pInputTextarea [(ngModel)]="test1"></textarea>
          <div style="display: flex; justify-content: center; padding-top: 20px">
            <button pButton type="button" label="пойти нахуй" (click)="onButtonClick()"></button>
          </div>
        </div>
      </div>

      <!-- Секция ответа, изначально скрытая -->

      <p-card>
        <div *ngIf="activeTab?.id === states.B">
          <!-- ... Ваш код чата ... -->

          <!-- Прокручиваемый список ответов -->
          <p-card>
            <div *ngIf="activeTab?.id === states.B">
              <!-- ... Ваш код чата ... -->

              <!-- Прокручиваемый список ответов -->
              <p-scrollPanel styleClass="custom-scroll" [style]="{width: '100%', height: '200px'}">
                <div *ngFor="let answer of answers"
                     (click)="onAnswerClick(answer)"
                     class="clickable-answer"
                     [class.selected]="selectedAnswer === answer">
                  {{ answer.text }}
                </div>
              </p-scrollPanel>

            </div>
          </p-card>


        </div>
      </p-card>



      <!-- Ваш контент для Frame 2 здесь -->
    </div>
  </p-card>

  <div *ngIf="activeTab?.id === states.C">
    <h3>Content of Frame 3</h3>
    <!-- Ваш контент для Frame 2 здесь -->
  </div>

</p-sidebar>

