::ng-deep .p-sidebar {
  width: 550px !important;
}
::ng-deep .p-tabMenu {
  width: 150px !important;
  font-size: 5px !important;

}

.sidebar-logo {
  max-width: 75px;
}

:host ::ng-deep .p-tabmenu-nav-container{
  font-size: 11px;
}
