<p-sidebar (close)="toggleSidebarMethod()" [(visible)]="sidbarVisible" (cancel)="toggleSidebarMethod()"
           styleClass="w-30rem"
           [modal]="false"

>
  <ng-template pTemplate="header">
    <div class="sidebar-footer">
      <img src="assets/logo.png" alt="Your Logo" class="sidebar-logo">
    </div>
  </ng-template>

  <!--  (sidebarVisible$ | async) ?? false-->
  <p-tabMenu [model]="tabsItems" [(activeItem)]="activeTab" [scrollable]="true"></p-tabMenu>

  <div *ngIf="activeTab?.id === states.SearchOffice">
    <h3>Ищем отделения</h3>
    <p-dropdown [options]="searchOfficeOptions" [(ngModel)]="selectedType" optionLabel="name"></p-dropdown>
    <!-- Ваш контент для Frame 1 здесь -->
  </div>

  <div *ngIf="activeTab?.id === states.B">
    <h3>Content of Frame 2</h3>
    <!-- Ваш контент для Frame 2 здесь -->
  </div>
  <div *ngIf="activeTab?.id === states.C">
    <h3>Content of Frame 3</h3>
    <!-- Ваш контент для Frame 2 здесь -->
  </div>

</p-sidebar>

